# ignore Vagrant related files
*.log
.vagrant

# ignore GoLand IDE
.idea

# Terraform state files.
*.tfstate
*.tfstate.backup
*.tfstate.*.backup
.terraform.tfstate.lock.info

# Terraform module and provider directory.
.terraform

# Terraform vars file
# terraform.tfvars

# Ignore tmp folder
*tmp/*

# Cleanup files
.cleanup*
cloud/aws/learn-terraform-aws-instance/.terraform.lock.hcl
*.DS_Store

