# ignore Vagrant related files
*.log
.vagrant

# ignore GoLand IDE
.idea

# Terraform state files.
*.tfstate
*.tfstate.backup
*.tfstate.*.backup
.terraform.tfstate.lock.info

# Terraform module and provider directory.
.terraform

# Terraform vars file
terraform.tfvars

# Cleanup files
.cleanup*
vagrant/horizontal-app-scaling/083a4593.json
vagrant/horizontal-app-scaling/5b36d91c.json
